{:hooks
 {:analyze-call
  {utils.i18n/label                                     utils.i18n/label
   test-helpers.component/get-all-by-translation-text   utils.i18n/label
   test-helpers.component/get-by-translation-text       utils.i18n/label
   test-helpers.component/query-all-by-translation-text utils.i18n/label
   test-helpers.component/query-by-translation-text     utils.i18n/label}}
 :linters {:status-im.linter/invalid-translation-keyword {:level :error}}}
