Andrea Maria Piana <cammellos@cammelloss-MacBook-Pro.local>
Aleksandr Pantyukhov <alwxndr@gmail.com>
Aleksandr Pantyukhov <me@alwx.me>
Anton Danchenko <adan@ciklum.com>
Chad Jackson <chad@status.im>
Dmitry Shulyak <yashulyak@gmail.com>
Eric Dvorsak <yenda1@gmail.com> 
Eric Dvorsak <eric@dvorsak.fr>
Eric Dvorsak <eric@status.im>
George Lipov <gnl@lipov.net>
Goran Jović <goranjovic@gmail.com>
Jan Herich <jan.herich@gmail.com>
Jan Herich <ot73589@OT73589M1.local>
Jakub Sokołowski <i+github@always.fail>
Jarrad Hope <jarrad@Jarrads-iMac.local>
Oskar Thorén <ot@oskarthoren.com>
