{
  "include": [
    "target/test/legacy/status_im/**"
  ],
  "exclude": [
    "target/test/legacy/status_im/test/**",
    "target/test/legacy/status_im/ui/**"
  ],
  "report-dir": "./coverage-report",
  "all": true,
  "source-map": true,
  "produce-source-map": true,
  "instrument": true,
  "exclude-after-remap": false,
  "extension": [".js"],
  "reporter": ["lcovonly"]
}
