/*

# Format top-level js files.
!*.js

# Ignore all except src/js/**/*.js
!/src/
/src/*
!/src/js
!/src/js/**/*.js

# Ignore all except translations/en.json
!/translations/
/translations/*
!/translations/en.json
