{:name "StatusIm"

 :run-options {:android {"appIdSuffix" "debug"}}

 :figwheel-bridge "figwheel-bridge.js"
 ;; JS modules
 :js-modules ["realm"
              "react-native-i18n"
              "realm/react-native"
              "dismissKeyboard"
              "react-native-splash-screen"
              "react-native-status"
              "react-native-camera"
              "react-native-qrcode"
              "identicon.js"
              "react-native-fs"
              "react-native-dialogs"
              "react-native-image-resizer"
              "react-native-image-crop-picker"
              "react-native-securerandom"
              "react-native-webview-bridge"
              "react-native-firebase"
              "homoglyph-finder"
              "web3"
              "chance"
              "instabug-reactnative"
              "react-native-http-bridge"
              "emojilib"
              "react-native-config"
              "react-native-svg"
              "react-native-keychain"
              "rn-snoopy"
              "rn-snoopy/stream/bars"
              "rn-snoopy/stream/filter"
              "rn-snoopy/stream/buffer"
              "react-native/Libraries/vendor/emitter/EventEmitter"
              "react-native-background-timer"
              "react-native-fetch-polyfill"
              "react-native-testfairy"]

 ;; Resoures
 :resource-dirs ["resources/images"]

 :figwheel-options {:nrepl-port 7888
                    :nrepl-middleware ["cider.nrepl/cider-middleware"
                                       "refactor-nrepl.middleware/wrap-refactor"
                                       "cemerick.piggieback/wrap-cljs-repl"]}

 :builds [{:id           :desktop
           :source-paths ["react-native/src" "src" "env/dev"]
           :compiler     {:output-to     "target/ios/desktop.js"
                          :main          "env.desktop.main"
                          :output-dir    "target/desktop"
                          :npm-deps      false
                          :optimizations :none
                          :external-config {:ghostwheel {}}}
           :figwheel     true}
          {:id           :ios
           :source-paths ["react-native/src" "src" "env/dev"]
           :compiler     {:output-to     "target/ios/app.js"
                          :main          "env.ios.main"
                          :output-dir    "target/ios"
                          :npm-deps      false
                          :optimizations :none
                          :external-config {:ghostwheel {}}}
           :figwheel     true}
          {:id               :android
           :source-paths     ["react-native/src" "src" "env/dev"]
           :compiler         {:output-to     "target/android/app.js"
                              :main          "env.android.main"
                              :output-dir    "target/android"
                              :npm-deps      false
                              :optimizations :none
                              :external-config {:ghostwheel {}}}
           :warning-handlers [status-im.utils.build/warning-handler]
           :figwheel         true}]}
