{:name "StatusIm"

 :run-options {:android {"appIdSuffix" "debug"}}

 :figwheel-bridge "./figwheel-bridge.js"
 ;; JS modules
 :js-modules ["buffer"
              "bignumber.js"
              "react-native-languages"
              "i18n-js"
              "react-native-splash-screen"
              "react-native-status"
              "react-native-status-keycard"
              "react-native-camera"
              "qrcode"
              "react-native-fs"
              "react-native-dialogs"
              "react-native-image-resizer"
              "react-native-image-crop-picker"
              "react-native-svg"
              "react-native-webview"
              "react-native-touch-id"
              "web3-utils"
              "chance"
              "emojilib"
              "eth-phishing-detect"
              "react-native-config"
              "react-native-screens"
              "react-native-keychain"
              "rn-snoopy"
              "rn-snoopy/stream/bars"
              "rn-snoopy/stream/filter"
              "rn-snoopy/stream/buffer"
              "react-native/Libraries/vendor/emitter/EventEmitter"
              "react-native-background-timer"
              "react-native-fetch-polyfill"
              "@react-navigation/native"
              "@react-navigation/stack"
              "@react-navigation/bottom-tabs"
              ;; "react-native-navigation-twopane"
              "hi-base32"
              "functional-red-black-tree"
              "react-native-mail"
              "react-native-shake"
              "@react-native-community/netinfo"
              "react-native-safe-area-context"]
 ;; Desktop modules
 :desktop-modules ["buffer"
                   "bignumber.js"
                   "react-native-languages"
                   "i18n-js"
                   "dismissKeyboard"
                   "react-native-splash-screen"
                   "react-native-status"
                   "qrcode"
                   "identicon.js"
                   "react-native-fs"
                   "react-native-dialogs"
                   "react-native-image-crop-picker"
                   "react-native-webview-bridge"
                   "chance"
                   "emojilib"
                   "eth-phishing-detect"
                   "react-native-config"
                   "react-native-keychain"
                   "rn-snoopy"
                   "rn-snoopy/stream/bars"
                   "rn-snoopy/stream/filter"
                   "rn-snoopy/stream/buffer"
                   "react-native/Libraries/vendor/emitter/EventEmitter"
                   "react-native-fetch-polyfill"
                   "react-native-desktop-linking"
                   "react-native-desktop-menu"
                   "react-native-desktop-config"
                   "react-native-desktop-shortcuts"
                   "react-native-desktop-notification"
                   "react-native-desktop-gesture-handler"
                   "web3-utils"
                   "functional-red-black-tree"
                   ;; "react-native-navigation-twopane"
                   "hi-base32"]

 ;; Resoures
 :resource-dirs ["resources/images"
                 "desktop/resources"]

 :figwheel-options {:nrepl-port 7888
                    :nrepl-middleware ["cider.nrepl/cider-middleware"
                                       "refactor-nrepl.middleware/wrap-refactor"
                                       "cider.piggieback/wrap-cljs-repl"]}

 :builds [{:id           :desktop
           :source-paths ["react-native/src/desktop" "src" "env/dev" "components/src" "dev"]
           :compiler     {:output-to     "target/desktop/app.js"
                          :main          "env.desktop.main"
                          :output-dir    "target/desktop"
                          :npm-deps      false
                          :optimizations :none}
           :figwheel     true}
          {:id           :ios
           :source-paths ["react-native/src/mobile" "src" "env/dev" "components/src" "dev"]
           :compiler     {:output-to     "target/ios/app.js"
                          :main          "env.ios.main"
                          :output-dir    "target/ios"
                          :npm-deps      false
                          :optimizations :none}
           :figwheel     true}
          {:id               :android
           :source-paths     ["react-native/src/mobile" "src" "env/dev" "components/src" "dev"]
           :compiler         {:output-to     "target/android/app.js"
                              :main          "env.android.main"
                              :output-dir    "target/android"
                              :npm-deps      false
                              :optimizations :none}
           :warning-handlers [status-im.utils.build/warning-handler]
           :figwheel         true}]}
