<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- These are added by React Native for debug mode, but actually aren't needed in release mode -->
    <uses-permission tools:node="remove" android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- Remove licensing permission since we don't license our app and it blocks F-Droid submissions. -->
    <uses-permission tools:node="remove" android:name="com.android.vending.CHECK_LICENSE"/>

   <application tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning"  android:usesCleartextTraffic="true" />
</manifest>
