{:lint-as {status-im.utils.views/defview clojure.core/defn
           status-im.utils.views/letsubs clojure.core/let
           status-im.utils.fx/defn       clojure.core/defn
           status-im.utils.styles/def    clojure.core/def
           status-im.utils.styles/defn   clojure.core/defn}
 :linters {:invalid-arity {:skip-args [status-im.utils.fx/defn]}}}
