<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAm5D6giymR_2llh-8SbCRL3oPxX_v3EZs</string>
	<key>GCM_SENDER_ID</key>
	<string>854811651919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>im.status.ethereum</string>
	<key>PROJECT_ID</key>
	<string>status-react-app</string>
	<key>STORAGE_BUCKET</key>
	<string>status-react-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854811651919:ios:11ee7444ded8a00a</string>
	<key>DATABASE_URL</key>
	<string>https://status-react-app.firebaseio.com</string>
</dict>
</plist>
