aiohttp==4.0.0a1
allpairspy==2.5.0
apipkg==1.5
Appium-Python-Client==1.0.2
async-timeout==3.0.1
certifi==2020.11.8
chardet==3.0.4
cycler==0.10.0
cytoolz==0.11.0
emoji==0.5.0
eth-hash==0.2.0
eth-keys==0.3.3
eth-utils==1.9.5
ethereum==2.3.2
execnet==1.7.1
future==0.18.2
flaky==3.7.0
idna==2.10
kiwisolver==1.3.1
lxml==4.6.1
matplotlib==3.3.3
multidict==3.1.3
namedlist==1.8
numpy==1.19.4
pbkdf2==1.3
Pillow==8.0.1
py==1.9.0
py-ecc==5.1.0
pycryptodome==3.9.9
pyethash==0.1.27
pyparsing==2.4.7
pysha3==1.0.2
pytest==6.1.2
pytest-forked==1.3.0
pytest-xdist==1.34.0
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
repoze.lru==0.7
requests==2.25.0
rlp==1.2.0
scrypt==0.8.17
sauceclient==1.0.0
selenium==3.14.1
six==1.10.0
urllib3==1.25.9
yarl==1.6.3
zbarlight==3.0
docker==4.4.0
influxdb==5.3.1
web3
